# Configurações do Banco de Dados
POSTGRES_PASSWORD=insira_uma_senha_forte_aqui

# Configurações do Typebot
GITHUB_CLIENT_ID=seu_client_id_do_github
GITHUB_CLIENT_SECRET=seu_client_secret_do_github
ENCRYPTION_SECRET=gere_uma_chave_aleatoria_para_criptografia
NEXTAUTH_URL=http://localhost:8080 # Ou o IP do seu servidor
NEXT_PUBLIC_VIEWER_URL=http://localhost:8081 # Ou o IP do seu servidor

# Configurações da Evolution API
AUTHENTICATION_API_KEY=sua_chave_de_api_evolution